$white: #ffffff;
$dark: #000000;

$primary-color: #ff9b00;
$secondary-color: #2db6a3;

$primary-text-color: #333;
$secondary-text-color: #777;
$light-gray: #fafafa;

$border-color: #e7e7e7;
$secondary-content-box-bg-color:#fafafa;
$primary-font: 'NotoSans';

